body {
	overflow: hidden;
}

.palette {
	width: 48px;
	height: 48px;
	display: none;
}

.inBoard {
	width: 48px;
	height: 48px;
	position: absolute;
}

.wall {
	background-color: white;
}

.redBlock {
	background-color: red;
}

.greenBlock {
	background-color: green;
}

.blueBlock {
	background-color: blue;
}

.yellowBlock {
	background-color: yellow;
}

.stoneBlock {
	background-color: gray;
}

#panel .info {
	margin: 5px 0;
}

#panel .info .title{
	font: 36px arial,sans-serif;
}

#panel .info .content {
	font: 28px arial,sans-serif;
	color: #999;
}

#arrows {
	position: relative;
	border: 1px solid #CCC;
	background-color: #CCC;
	width: 190px;
	height: 190px;
	margin: 10px 0;
}

.arrow {
	position: absolute;
	width: 60px;
	height: 60px;
}

.arrow:hover {
	cursor: pointer;
}

#up {
	position: absolute;
	left: 60px;
	top: 0px;
	background-image: url('img/arrows.png');
	background-position: 0px 0px;
}
#up:hover {
	background-position: 0px 60px;
}
#up.lastDir {
	background-position: 0px 120px;
}

#down {
	position: absolute;
	left: 60px;
	top: 120px;
	background-image: url('img/arrows.png');
	background-position: 120px 0px;
}
#down:hover {
	background-position: 120px 60px;
}
#down.lastDir {
	background-position: 120px 120px;
}

#left {
	position: absolute;
	left: 0px;
	top: 60px;
	background-image: url('img/arrows.png');
	background-position: 60px 0px;
}
#left:hover {
	background-position: 60px 60px;
}
#left.lastDir {
	background-position: 60px 120px;
}

#right {
	position: absolute;
	left: 120px;
	top: 60px;
	background-image: url('img/arrows.png');
	background-position: 180px 0px;
}
#right:hover {
	background-position: 180px 60px;
}
#right.lastDir {
	background-position: 180px 120px;
}

.scene {
	width: 768px;
	height: 576px;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	border: 5px solid black;
}

#board {
	position: absolute;
	left: 0;
	top: 0;
	width: 576px;
	height: 576px;
	background-color: black;
}

#panel {
	position: absolute;
	top: 0;
	left: 576px;
	width: 192px;
	height: 576px;
}

.popup-bg {
	display: none;
	position: absolute;
	width: 500px;
	height: 250px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -125px;
	border-radius: 5px;
}

.popup {
	display: none;
	position: absolute;
	width: 500px;
	height: 250px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -125px;
	text-align: center;
}

#level-cleared-background {
	background-color: #DD0;
	box-shadow: 0px 0px 40px #FF0, 0px 0px 40px #FF0;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

#level-failed-background {
	background-color: #999;
	box-shadow: 0px 0px 40px #EEE, 0px 0px 40px #EEE;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.popup .title {
	font: 48px arial,sans-serif;
	line-height: 96px;
}

#level-cleared .title{
	color: #F00;
	text-shadow: 0px 0px 10px #FC0, 0px 0px 20px #FC0;
}

#level-failed .title{
	color: #00D;
	text-shadow: 0px 0px 10px #007, 0px 0px 20px #007;
}

.popup .info {
	color: #AAA;
	font: 24px arial,sans-serif;
	line-height: 48px;
	text-shadow: 1px 1px #666;
}

.popup .buttons {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.button {
	margin: 12px;
	font: 18px arial,sans-serif;
	color: #007;
	background-color: #070;
	line-height: 36px;
	text-shadow: 1px 1px #77F;
	border-radius: 3px;
	box-shadow: 0px 0px 3px #070;
	text-align: center;
}

.button:hover {
	background-color: #393;
	box-shadow: 0px 0px 3px #393;
	cursor: pointer;
}

.popup .button {
	width: 25%;
	height: 100%;
	display: inline-block;
}

#panel .button {
	width: 168px;
	height: 30px;
}

.popup {
	z-index: 100;
}

#popup-layer {
	width: 3000px;
	height: 3000px;
	z-index: 50;
	left: 0;
	top: 0;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	display: none;
	position: absolute;
}

#main-menu-scene {
	text-align: center;
	background-color: #EEE;
}

#main-menu-scene .title {
	font: 60px arial,sans-serif;
	line-height: 120px;
	
}

#main-menu-scene .buttons {
	position: absolute;
	bottom: 0px;
	width: 384px;
	left: 50%;
	margin-left: -192px;
}

#main-menu-scene .button {
	margin: 40px 0;
	height: 50px;
	text-align: center;
	line-height: 50px;
}